@model IEnumerable<Worker>
@{
    ViewData["Title"] = "Worker";
}


<form method="post" asp-controller="EditWorker" asp-action="ToEditWorker" name="workerId">
    <table class ="tabel-work" style="width:100%">
        <thead class="thead-work">
            <tr>
                <th class="th-worker">
                    Name
                </th>
                <th class="th-worker">
                    Surname
                </th>
                <th class="th-worker">
                    Post
                </th>
                <th class="th-worker">
                    E-mail
                </th>
                <th class="th-worker">
                    Phone
                </th> 
                <th>
                    <button class="form-button-reg" asp-area="" asp-controller="Registration" type="submit">Add</button>
                </th>
            </tr>
        </thead>
            <tbody>
                @foreach(var obj in Model)
            {
                <tr>
                    <td class="td-worker">
                        @obj.WorkerName
                    </td>
                    <td class="td-worker">
                        @obj.WorkerSurname
                    </td>
                    <td class="td-worker">
                        @obj.WorkerPost
                    </td>
                    <td class="td-worker">
                        @obj.WorkerEmail
                    </td>
                    <td class="td-worker">
                        @obj.WorkerPhone
                    </td>
                    <td>

                        <button class="form-button-reg" name="workerId" type="submit" value="@obj.IDWorker">Edit</button>
                        
                       
                    </td>
                </tr>
            }

            </tbody>
        </table>
        
    </form>


   